* {
    box-sizing: border-box;
}

#container {
    margin: auto;
    min-width: 402px;
    max-width: 402px;
    min-height: 402px;
    max-height: 402px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 20px #32383D;
}