@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fdfdfd;
}

#container {
    margin: auto;
    min-width: 402px;
    max-width: 402px;
    min-height: 402px;
    max-height: 402px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 20px #32383D;
}

button {
    background-color: #32383D;
    color: #fdfdfd;
    border: 0;
    padding: 20px;
    border-radius: 20px;
}